{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}
<form class="content-block measure form" method="post">

  {% if error %}
    <div class="error-summary">
      <h2 class="error-heading">There’s a problem</h2>
      <p>
        <a href="#tel">Enter a mobile number</a>
      </p>
    </div>
  {% endif %}

  <h1 class="nhsuk-heading-l">What is your mobile number?</h1>

  <div class="form-group {% if error %}-errors{% endif %}">
    <input name="tel" id="tel" type="tel" value="{{ session.callBooking.tel }}" autocomplete="off">
  </div>
  <div class="form-group -controls">
    <button type="submit" class="button">Next</button>
  </div>
</form>


{% endblock %}
