{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-core{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl error-hint">Call 999</h1>

  <p>
    Your answers suggest you’re in danger of harming yourself or others. You
    need to speak to the emergency services.
  </p>
  <p>Deaf people can contact 999 by text relay on 18000.</p>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <h2 class="nhsuk-heading-m">If you don’t think 999 is right for you</h2>

  <p>
    If you don’t think you’re at risk of harming yourself or others and you want
    to speak to someone about your problems instead, NHS urgent mental health
    helplines are open 24 hours a day.
  </p>
  <p>
    <a href="https://www.nhs.uk/service-search/mental-health/find-an-urgent-mental-health-helpline" >Find your local urgent mental health helpline</a>
  </p>

  <p class="nhsuk-u-margin-bottom-4">
    Or you can text the mental health charity, <a href="https://www.giveusashout.org/">SHOUT,</a> on 85258
    if you don’t want to speak on the phone.
  </p>

  {% include 'mental-health-dx-outcomes/_components/nhsuk-panel.html' %}

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
