{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block">
  <div class="measure">
    <!-- Only display 'Back' if validation is present? -->
    <a href="javascript: return false;" class="button-back">Back</a>
    <h1>Where to get help</h1>
    <!-- timing info -->
    <div class="callout callout--warning">
      Get help now
    </div>

    {#--
    {% include 'pathways-r19/_components/its-unlikely.html' %}

    <div class="callout callout--warning measure">
      <p>
        It’s possible you have COVID-19 but you also need help for your other symptoms.
      </p>
      <p>
        You <b>must</b> tell whoever you speak to that you might have coronavirus
        and follow their instructions.
      </p>
      <p>
        This might mean getting tested first, or being seen in a different way than
        usual.
      </p>
    </div>
    --#}

  </div>

  <div class="service-details-container">

    <div class="details-1 service-details">
      <div class="unit address">
        <p>
          <b>Urgent treatment centre</b><br>
          Trafford General Hospital<br>
          Moorside Road<br>
          Manchester<br>
          M41 5SL
        </p>
      </div>
      <div class="unit">
        {% set opening = "Open until 8pm"%}
        {% set suppress_full = true %}
        {% include 'service-display/_components/opening-hours.html' %}
      </div>
    </div>

    <div class="geo">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2375.824854254225!2d-2.3727600485489933!3d53.45371707426633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487ba9557e041553%3A0x16c79c2a5724dca7!2sTrafford%20General%20Hospital!5e0!3m2!1sen!2suk!4v1596632211287!5m2!1sen!2suk" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <div class="details-2 service-details">
      <div class="unit directions">
        <p>
          7.5 miles away<br>
          <a href="javascript: return false;" target="_blank">
            Get directions <span class="small">(opens a new tab or window)</span>
          </a>
        </p>
      </div>
    </div>

  </div>

  <!-- boilerplate service type text and 'before you go' -->
  <div class="measure">
    <p>
      Urgent treatment centres are overseen by GPs. They’re open for at least 12
      hours every day. They can diagnose and deal with many of the most common
      problems people go to A&E for.
    </p>
  </div>

  {% include 'service-display/_components/why-this-one.html' %}

  {% include 'service-display/_components/change-location.html' %}

  <p>
    Or you can see <a href="dx92-other-services">more services that can help.</a>
  </p>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <!--
  <div class="measure">
    {% set other_services_url = "/service-display/other-services" %}
    {% set other_services_message = "services" %}
    {% include 'service-display/_components/other-services.html' %}

    {% include 'mental-health-dx-outcomes/_components/nhsuk-panel.html' %}
  </div>
  -->

  <div class="measure">
    <h2>If you don’t think an urgent treatment centre is right for you</h2>
    <p>
      What you’ve told us suggests you need to go to an urgent treatment centre
      to get help.
    </p>
    <p>
      Ask to see a mental health trained nurse if they have one. Or ask to be
      referred to a local psychiatry service when you’re seen by the nurse or doctor.
    </p>

    <div class="callout callout--info nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
      <h3 class="visuallyhidden">Find an urgent mental health helpline near you</h3>
      <p>
        If you haven’t hurt yourself and you’d rather speak to someone instead, NHS
        urgent mental health helplines are open 24 hours a day. Deaf people can use
        text relay.
      </p>
      <p>
        <a href="https://www.nhs.uk/service-search/mental-health/find-an-urgent-mental-health-helpline">Find your local urgent mental health helpline</a>
      </p>
    </div>

    <h4 class="visuallyhidden">More help on NHS.UK</h4>
    <p>
      NHS.UK has <a href="https://www.nhs.uk/using-the-nhs/nhs-services/mental-health-services/dealing-with-a-mental-health-crisis-or-emergency/">other sources of help for a mental health crisis, emergency or
      breakdown.</a> These include free text and listening services, helplines and websites.
    </p>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  <div class="measure">
    <details>
      <summary><span>What to do if you start to feel worse</span></summary>
      <div>
        <p>
          If you think you might harm yourself or others, call 999.
        </p>
      </div>
    </details>
  </div>

</div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    var serviceLat = 51.751747;
    var serviceLng = -0.470359;
    var userLat = 51.755043;
    var userLng = -0.489212;
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: serviceLat,
          lng: serviceLng
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      var bounds = new google.maps.LatLngBounds();
      var service = new google.maps.Marker({
        position: new google.maps.LatLng(serviceLat, serviceLng),
        map: mapObj
      });
      bounds.extend(service.position);
      var user = new google.maps.Marker({
        position: new google.maps.LatLng(userLat, userLng),
        map: mapObj,
        icon: '/images/icon-maps-user-location.png'
      });
      bounds.extend(user.position);
      mapObj.fitBounds(bounds);
    });
  </script>
{% endblock %}
