{% set suppress_feedback = true %}
{% set tel = "07979 654 789" %}
{% set timeframe = "30 minutes" %}
{% set show_care_advice = true %}
{% set show_worsening = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-core{% endblock %}

{% block content %}
<div class="content-block measure">

  <h1>You’ll get a call within 4 hours</h1>

  <p>
    It was booked at <span id="timestamp"></span>. The service will call {{ session.number }}. The number might
    show as ‘unknown’ on your display.
  </p>
  <script type="text/javascript">
    var now = new Date()
      .toLocaleTimeString('en-US', { hour: 'numeric', hour12: true, minute: 'numeric' })
      .toLowerCase()
      .replace(/:/g, '.');
    document.getElementById('timestamp').textContent = now;
  </script>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <h2 class="nhsuk-heading-s visuallyhidden">Help on NHS.UK</h2>
  <p>
    NHS.UK has lots of <a href="https://www.nhs.uk/using-the-nhs/nhs-services/mental-health-services/dealing-with-a-mental-health-crisis-or-emergency/">help and support for people experiencing a
    mental health crisis.</a>
  </p>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  {% if show_care_advice === true %}
    {% include 'service-display/_components/care-advice.html' %}
  {% endif %}

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
