{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block">
  <div class="measure">
    <a href="javascript:window.history.back();" class="button-back">Back</a>
    <h1>Other ways to get help</h1>
    <!-- timing info -->
    <div class="callout callout--warning">
      Get help now
    </div>
    <p>
      These services are available in [postcode]. <a href="javascript: return false;">Change my location</a>
    </p>
  </div>

  <div class="multiple-service-listing">

    <!-- A place you go **************************************************** -->
    <!-- “JUST VISIT” ****************************************************** -->
    <div class="collapse-title">
      <div class="service-listing">
        <b>A&E (accident and emergency)</b><br>
        University Hospital Southampton
        <div class="service-pertinent">
          <span class="small">3 miles away</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container">
        <div class="details-1 service-details">
          <div class="unit">
            <p class="small measure">
              A&E is for critical or life-threatening injuries or illnesses. Also known
              as the emergency department or casualty.
            </p>
            <div class="content-seperator content-seperator--white content-seperator--equalvertspacing"></div>
          </div>
          <div class="unit address">
            <p>
              <b>A&E (accident and emergency)</b><br>
              University Hospital Southampton<br>
              Tremona Road<br>
              Southampton<br>
              Hampshire<br>
              SO16 6YD
            </p>
          </div>
          <div class="unit">
            {% set opening = "Open until 9.30pm"%}
            {% set suppress_full = true %}
            {% include 'service-display/_components/opening-hours.html' %}
          </div>
        </div>
        <div class="subroutine measure"></div>
        <div class="geo">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80488.06388341812!2d-1.4538042643395186!3d50.91905530078595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4874743062b154d5%3A0xed717caa8ab94892!2sUniversity%20Hospital%20Southampton%20-%20emergency%20department!5e0!3m2!1sen!2suk!4v1597408239646!5m2!1sen!2suk" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="details-2 service-details">
          <div class="unit directions">
            <p>
              3 miles away<br>
              <a href="javascript: return false;" target="_blank">
                Get directions <span class="small">(opens a new tab or window)</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse-title">
      <div class="service-listing">
        <b>Urgent treatment centre</b><br>
        Royal South Hants Hospital<br>
        <div class="service-pertinent">
          <span class="small">7.5 miles away</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container">
        <div class="details-1 service-details">
          <div class="unit">
            <p class="small measure">
              Urgent treatment centres are overseen by GPs. They’re open for at least 12
              hours every day. They can diagnose and deal with many of the most common
              problems people go to A&E for.
            </p>
            <div class="content-seperator content-seperator--white content-seperator--equalvertspacing"></div>
          </div>
          <div class="unit address">
            <p>
              Royal South Hants Hospital<br>
              Brintons Terrace<br>
              Southampton<br>
              Hampshire<br>
              SO14 0YG
            </p>
          </div>
          <div class="unit">
            {% set opening = "Open until 8pm"%}
            {% set suppress_full = true %}
            {% include 'service-display/_components/opening-hours.html' %}
          </div>
        </div>
        <div class="subroutine measure"></div>
        <div class="geo">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2515.5952418398433!2d-1.3991783842518064!3d50.9127050795418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487476ad17fc9115%3A0xf0ae292af5e02406!2sRoyal%20South%20Hants%20Hospital!5e0!3m2!1sen!2suk!4v1597407746783!5m2!1sen!2suk" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="details-2 service-details">
          <div class="unit directions">
            <p>
              7.5 miles away<br>
              <a href="javascript: return false;" target="_blank">
                Get directions <span class="small">(opens a new tab or window)</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- A place you must TELEPHONE **************************************** -->
    <!-- “JUST PHONE” ****************************************************** -->
    <div class="collapse-title">
      <div class="service-listing">
        <b>Mental health service</b><br>
        Mind support
        <div class="service-pertinent">
          <span class="small">Telephone service</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container service-details --remote">
        <div class="unit">
          <p class="small measure">
            This is a service with trained mental health specialists.
          </p>
          <div class="content-seperator content-seperator--white content-seperator--equalvertspacing"></div>
        </div>
        <div class="unit">
          <p class="tel-cta">
            <a href="javascript: return false;">Call 02380 777 222</a>
          </p>
        </div>
        <div class="unit">
          {% set opening = "Open until 9pm" %}
          {% set suppress_full = true %}
          {% include 'service-display/_components/opening-hours.html' %}
        </div>
      </div>
    </div>


    <!-- A place you get a CALLBACK from *********************************** -->
    <!-- “ITK ONLY” ******************************************************** -->
    <div class="collapse-title">
      <div class="service-listing">
        <b>Mental health service</b><br>
        Hampshire mental health call-back service
        <div class="service-pertinent">
          <span class="small">Telephone service</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container service-details --remote">
        <div class="unit">
          <p class="small measure">
            This is a service with trained mental health specialists.
          </p>
          <div class="content-seperator content-seperator--white content-seperator--equalvertspacing"></div>
        </div>
        <div class="unit">
          {% set opening = "Open 24 hours" %}
          {% set suppress_full = true %}
          {% include 'service-display/_components/opening-hours.html' %}
        </div>
        <div class="unit">
          <div class="measure">
            <p>
              <span class="form-hint small">
                This service needs some details from you.<br>
                To use it, fill in the form and they’ll be in touch.
              </span>
            </p>
          </div>
          <p>
            <a class="nhsuk-action-link__link" href="/mental-health-dx-outcomes/personal-details/proxy" >
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Use this service</span>
            </a>
          </p>
        </div>
      </div>
    </div>

    <!-- A place you must "REFER THEN CALL" yourself to ******************** -->
    <!-- “ITK ONLY AND RING AND GO” **************************************** -->
    <div class="collapse-title">
      <div class="service-listing">
        <b>Mental health service</b><br>
        italk psychological therapy service
        <div class="service-pertinent">
          <span class="small">Self-referral service</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container service-details --remote">
        <div class="unit">
          <p class="small measure">
          You can refer yourself to psychological therapists in your area. Sometimes known as IAPT (Improving Access to Psychological Therapies). You might have to wait to get an appointment.
          </p>
          <div class="content-seperator content-seperator--white content-seperator--equalvertspacing"></div>
        </div>
        <div class="unit">
          <div class="measure">
            <span class="form-hint small">This service needs some details from you.<br>
              To use it, fill in the form and they’ll be in touch. </span>
          </div>
          <p>
            <a class="nhsuk-action-link__link" href="#">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Self-refer to this service</span>
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>

  {% include 'mental-health-dx-outcomes/_components/nhsuk-panel.html' %}

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  {% set acuity = "high" %}
  {% include 'service-display/_components/worsening-symptoms.html' %}

</div>

{% endblock %}

{% block footer %}
  {% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}
{% endblock %}
