{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1>Get a callback from a nurse</h1>
  <p>
    How the nurse can help:
  </p>
  <ul>
    <li>they will ask you more questions to find out what support you might need</li>
    <li>they’ll tell you where you can get help, or make an appointment for you</li>
  </ul>
  <p>
    If you book a call the nurse will know what you’ve answered so far.
  </p>
  <div class="callout callout--info">
    <p>
      If you don’t want to speak to a nurse we can show you places to go instead.
      This could be an A&E department where you might have to wait to be seen.
    </p>
  </div>

  <form class="form content-block measure" method="post">
    <legend><b>Do you want to book a call?</b></legend>
    <fieldset class="form-group {% if error %}-errors{% endif %}">
      {% if error %}
        <p class="error-hint">Choose one option</p>
      {% endif %}
      <label class="block-label">
        <input id="bookCall" name="bookCall" value="yes" type="radio" class="selection-button-radio">
        <span>Yes</span>
      </label>
      <label class="block-label">
        <input id="bookCall" name="bookCall" value="no" type="radio" class="selection-button-radio">
        <span>No</span>
      </label>
    </fieldset>

    <div class="form-group">
      <button  type="submit" class="button">Next</button>
    </div>
  </form>

  {% include 'mental-health-dx-outcomes/_components/nhsuk-panel.html' %}
</div>

{% endblock %}
