{% set suppress_feedback = false %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<style type="text/css">

</style>

<div class="content-block">
  <div class="measure">
    <!-- Only display 'Back' if validation is present? -->
    <a href="javascript: return false;" class="button-back">Back</a>
    <h1>Where to get help</h1>
    <!-- timing info -->
    <div class="callout callout--warning">
      Get help now
    </div>
  </div>

  <div class="service-details --remote">
    <div class="unit">
      <p>
        <b>Mental health service</b><br>
        Hampshire mental health call-back service
      </p>
    </div>
    <div class="unit">
      {% set opening = "Open 24 hours"%}
      {% set suppress_full = true %}
      {% include 'service-display/_components/opening-hours.html' %}
    </div>
    <div class="unit">
      <div class="form-hint measure">
        <p>
          This service needs some more details from you. To use it, fill in the
          form and they’ll be in touch.
        </p>
      </div>
      <p>
        <a href="/mental-health-dx-outcomes/personal-details/proxy" class="action-link">
          <span>Use this service</span>
          <svg class="nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
        </a>
      </p>
    </div>
  </div>

  <!-- boilerplate service type text and 'before you go' -->
  <div class="measure">
    <p>
      This is a service with trained mental health specialists. They’ll tell you
      if you need immediate help, or how to get longer term mental health support
      near you.
    </p>
  </div>

  {% include 'service-display/_components/why-this-one.html' %}

  {% include 'service-display/_components/change-location.html' %}

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% set other_services_url = "/mental-health-dx-outcomes/dx92-other-services" %}
    {% set other_services_message = "services" %}
    {% include 'service-display/_components/other-services.html' %}

    {% include 'mental-health-dx-outcomes/_components/nhsuk-panel.html' %}
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  {% set acuity = "high" %}
  {% include 'service-display/_components/worsening-symptoms.html' %}

</div>

{% endblock %}

{#
{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
#}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}
{% endblock %}
