{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block">
  <div class="measure">
    <a href="javascript:window.history.back();" class="button-back">Back</a>
    <h1>Other ways to get help</h1>
    <!-- timing info -->
    <div class="callout callout--warning">
      Get help now
    </div>
    <p>
      These services are available in [postcode]. <a href="javascript: return false;">Change my location</a>
    </p>
  </div>

  <div class="multiple-service-listing">

    <!-- A place you go **************************************************** -->
    <!-- “JUST VISIT” ****************************************************** -->
    <div class="collapse-title">
      <div class="service-listing">
        <b>A&E (accident and emergency)</b><br>
        North Manchester general hospital
        <div class="service-pertinent">
          <span class="small">3 miles away</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container">
        <div class="details-1 service-details">
          <div class="unit">
            <p class="small measure">
              A&E is for critical or life-threatening injuries or illnesses. Also known
              as the emergency department or casualty.
            </p>
            <div class="content-seperator content-seperator--white content-seperator--equalvertspacing"></div>
          </div>
          <div class="unit address">
            <p>
              <b>A&E (accident and emergency)</b><br>
              North Manchester general hospital<br>
              Delauneys Road<br>
              Crumpsall<br>
              Manchester<br>
              Lancashire<br>
              M8 5RB
            </p>
          </div>
          <div class="unit">
            {% set opening = "Open 24 hours"%}
            {% set suppress_full = true %}
            {% include 'service-display/_components/opening-hours.html' %}
          </div>
        </div>
        <div class="subroutine measure"></div>
        <div class="geo">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2372.1995757664404!2d-2.2323079841550433!3d53.51849248001547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb042ea6251e9%3A0xef589b95d7e6e7bf!2sNorth%20Manchester%20General%20Hospital!5e0!3m2!1sen!2suk!4v1596632071928!5m2!1sen!2suk" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="details-2 service-details">
          <div class="unit directions">
            <p>
              3 miles away<br>
              <a href="javascript: return false;" target="_blank">
                Get directions <span class="small">(opens a new tab or window)</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse-title">
      <div class="service-listing">
        <b>Urgent treatment centre</b><br>
        Manchester Royal infirmary
        <div class="service-pertinent">
          <span class="small">3.7 miles away</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container">
        <div class="details-1 service-details">
          <div class="unit">
            <p class="small measure">
              Urgent treatment centres are overseen by GPs. They’re open for at least 12
              hours every day. They can diagnose and deal with many of the most common
              problems people go to A&E for.
            </p>
            <div class="content-seperator content-seperator--white content-seperator--equalvertspacing"></div>
          </div>
          <div class="unit address">
            <p>
              <b>Minor injuries unit</b><br>
              Manchester Royal Infirmary<br>
              Oxford road<br>
              Manchester<br>
              Greater Manchester<br>
              M13 9WL
            </p>
          </div>
          <div class="unit">
            {% set opening = "Open 24 hours"%}
            {% set suppress_full = true %}
            {% include 'service-display/_components/opening-hours.html' %}
          </div>
        </div>
        <div class="subroutine measure"></div>
        <div class="geo">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2375.312638760768!2d-2.228345684157159!3d53.46287248000366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb18eda87f675%3A0xdc47eb19bae350ef!2sManchester%20Royal%20Infirmary!5e0!3m2!1sen!2suk!4v1596636169389!5m2!1sen!2suk" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="details-2 service-details">
          <div class="unit directions">
            <p>
              3.7 miles away<br>
              <a href="javascript: return false;" target="_blank">
                Get directions <span class="small">(opens a new tab or window)</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- A place you must TELEPHONE **************************************** -->
    <!-- “JUST PHONE” ****************************************************** -->
    <div class="collapse-title">
      <div class="service-listing">
        <b>Mental health service</b><br>
        Community Mental Health Team - Ramsgate
        <div class="service-pertinent">
          <span class="small">Telephone service</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container service-details --remote">
        <div class="unit">
          <p class="small measure">
            This is a service with trained mental health specialists.
          </p>
          <div class="content-seperator content-seperator--white content-seperator--equalvertspacing"></div>
        </div>
        <div class="unit">
          <p class="tel-cta">
            <a href="javascript: return false;">Call 0161 358 0732</a>
          </p>
        </div>
        <div class="unit">
          {% set opening = "Open 24 hours" %}
          {% set suppress_full = true %}
          {% include 'service-display/_components/opening-hours.html' %}
        </div>
      </div>
    </div>


    <!-- A place you get a CALLBACK from *********************************** -->
    <!-- “ITK ONLY” ******************************************************** -->
    <div class="collapse-title">
      <div class="service-listing">
        <b>Community Mental Health Team</b><br>
        Community mental health north west area team
        <div class="service-pertinent">
          <span class="small">Telephone service</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container service-details --remote">
        <div class="unit">
          <p class="small measure">
            This is a service with trained mental health specialists.
          </p>
          <div class="content-seperator content-seperator--white content-seperator--equalvertspacing"></div>
        </div>
        <div class="unit">
          {% set opening = "Open until 11pm" %}
          {% set suppress_full = true %}
          {% include 'service-display/_components/opening-hours.html' %}
        </div>
        <div class="unit">
          <div class="measure">
            <p>
              <span class="form-hint small">
                This service needs some details from you.<br>
                To use it, fill in the form and they’ll be in touch.
              </span>
            </p>
          </div>
          <p>
            <a class="nhsuk-action-link__link" href="/mental-health-dx-outcomes/personal-details/proxy" >
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Use this service</span>
            </a>
          </p>
        </div>
      </div>
    </div>

    <!-- A place you must "REFER THEN CALL" yourself to ******************** -->
    <!-- “ITK ONLY AND RING AND GO” **************************************** -->
    <div class="collapse-title">
      <div class="service-listing">
        <b>Mental health service</b><br>
        Manchester wellbeing service
        <div class="service-pertinent">
          <span class="small">Self-referral service</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container service-details --remote">
        <div class="unit">
          <p class="small measure">
          You can refer yourself to psychological therapists in your area. Sometimes known as IAPT (Increasing Access to Psychological Therapies). You might have to wait to get an appointment.
          </p>
          <div class="content-seperator content-seperator--white content-seperator--equalvertspacing"></div>
        </div>
        <div class="unit">
          <div class="measure">
            <span class="form-hint small">This service needs some details from you.<br>
              To use it, fill in the form and they’ll be in touch. </span>
          </div>
          <p>
            <a class="nhsuk-action-link__link" href="#">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Self-refer to this service</span>
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>

  {% include 'mental-health-dx-outcomes/_components/nhsuk-panel.html' %}

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  {% set acuity = "high" %}
  {% include 'service-display/_components/worsening-symptoms.html' %}

</div>

{% endblock %}

{% block footer %}
  {% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}
{% endblock %}
