{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-core{% endblock %}

{% block content %}

<div class="content-block">
  <a href="javascript: return false;" class="button-back">Back</a>

  <h1>Get help as soon as you can</h1>

  <div class="content-seperator content-seperator--equalvertspacing"></div>

  <div class="disposition-set">
    <div class="disposition-unit">

      <div class="collapse-title nhsuk-u-margin-bottom-2">
        <h2 class="nhsuk-u-margin-bottom-1">Before you get help</h2>
        <span class="collapse-title-indicator-verbose">
          <span class="show">Show</span>
          <span class="hide">Hide</span>
        </span>
      </div>

      <div class="collapse-content measure">
        <p>If you think you might report the assault to the police:</p>
        <ul>
          <li>cover any cuts, but don’t wash them</li>
          <li>keep the clothes you were wearing and don’t wash them</li>
          <li>don’t brush your teeth</li>
          <li>if you have brushed your teeth and used chewing gum, save that</li>
        </ul>
        <div class="callout callout--attention">
          Call 999 to report it to the police. GOV.UK has information on what
          happens when you <a href="https://www.gov.uk/report-rape-sexual-assault">
          report a rape or sexual assault.</a>
        </div>
      </div>

    </div>

    <div class="disposition-unit">

      <div class="collapse-title nhsuk-u-margin-bottom-2">
        <h2 class="nhsuk-u-margin-bottom-1">Where to get help</h2>
        <span class="collapse-title-indicator-verbose">
          <span class="show">Show</span>
          <span class="hide">Hide</span>
        </span>
      </div>

      <div class="collapse-content">

        <div class="service-details-container">
          <div class="details-1 service-details">
            <div class="unit address">
              <p>
                <b>A&E (accident and emergency)</b><br>
                The Royal London Hospital<br>
                Whitechapel Road<br>
                London<br>
                E1 1BB
              </p>
            </div>
            <div class="unit">
              {% set opening = "Open 24 hours"%}
              {% set suppress_full = true %}
              {% include 'service-display/_components/opening-hours.html' %}
            </div>
          </div>

          <div class="geo">
            <div id="service-location" class="map-frame"></div>
          </div>

          <div class="details-2 service-details">
            <div class="unit directions">
              <p>
                2.4 miles away<br>
                <a href="javascript: return false;" target="_blank">
                  Get directions <span class="small">(opens a new tab or window)</span>
                </a>
              </p>
            </div>
          </div>
        </div>

        <!-- boilerplate service type text and 'before you go' -->
        <div class="measure">
          <p>
            A&E is for critical or life-threatening injuries or illnesses. Also known
            as the emergency department or casualty.
          </p>
        </div>

        {% include 'service-display/_components/why-this-one.html' %}

        {% include 'service-display/_components/change-location.html' %}

        <p>
          Or you can see <a href="/service-display/other-services">more services that can help.</a>
        </p>

        <div class="content-seperator content-seperator--equalvertspacing--large"></div>

        <div class="measure">
          <h2>If you don’t want to go to A&E</h2>

          <p>
            Sexual assault referral centres (SARCs) have specially trained staff
            to help if don’t want to go to your local hospital. They are not in
            every area.
          </p>

          <p>
            <a href="javascript:return false;">
              Search for a sexual assault referral centre near you
            </a>
          </p>

        </div>
      </div>

    </div>

    <div class="disposition-unit">

      <div class="collapse-title nhsuk-u-margin-bottom-2">
        <h2 class="nhsuk-u-margin-bottom-1">Get support and advice</h2>
        <span class="collapse-title-indicator-verbose">
          <span class="show">Show</span>
          <span class="hide">Hide</span>
        </span>
      </div>

      <div class="collapse-content measure">
        <p>
          You can speak to charities and support groups for advice about what to
          do. Examples of specialist voluntary services offering independent,
          confidential advice and support are:
        </p>
        <ul>
          <li>
            <a href="https://rapecrisis.org.uk">Rape crisis</a>
          </li>
          <li>
            <a href="https://www.victimsupport.org.uk/">Victim Support</a>
          </li>
          <li>
            <a href="https://www.thesurvivorstrust.org/">The Survivors Trust</a>
          </li>
          <li>
            <a href="https://www.galop.org.uk/">Galop</a> &mdash; for LGBT communities
          </li>
          <li>
            <a href="https://www.survivorsuk.org/">Survivors UK</a> &mdash; for men
          </li>
        </ul>

        <div class="content-seperator content-seperator--equalvertspacing--large"></div>

        {% include 'service-display/_components/care-advice.html' %}

      </div>

    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    var serviceLat = 51.518781;
    var serviceLng = -0.060126;
    var userLat = 51.5236841;
    var userLng = -0.077088;
    $(function() {
      // yes all these vars are GLOBAL sorry I don't care
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: serviceLat,
          lng: serviceLng
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      bounds = new google.maps.LatLngBounds();
      service = new google.maps.Marker({
        position: new google.maps.LatLng(serviceLat, serviceLng),
        map: mapObj
      });
      bounds.extend(service.position);
      user = new google.maps.Marker({
        position: new google.maps.LatLng(userLat, userLng),
        map: mapObj,
        icon: '/images/icon-maps-user-location.png'
      });
      bounds.extend(user.position);
      mapObj.fitBounds(bounds);
    });
    var resetMap = function() {
      mapObj.setZoom(16);
      bounds.extend(user.position);
      mapObj.fitBounds(bounds);
    }
  </script>
{% endblock %}
