{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1 class="nhsuk-heading-l">Is [postcode] your home postcode?</h1>
  <div class="callout callout--info">
    <p>Your home postcode helps us find your NHS number</p>
  </div>

  <form id="postcode-container" method="post">
    <fieldset class="form-group {% if error %}-errors{% endif %}">
      {% if error %}
        <p class="error-hint">Choose one option</p>
      {% endif %}
      <label class="block-label">
        <input id="location" name="location" value="home" type="radio" class="selection-button-radio">
        <span>Yes</span>
      </label>
      <label class="block-label">
        <input id="location" name="location" value="away" type="radio" class="selection-button-radio">
        <span>No</span>
      </label>
    </fieldset>
    <div class="form-group">
      <button type="submit" class="button">Next</button>
    </div>
  </form>
</div>

{% endblock %}
