{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-core{% endblock %}

{% block content %}

  <div class="content-block measure">
    <h1 class="nhsuk-heading-xl">
      Your details have already been sent
    </h1>

    <p>
      You should get a call in [timeframe]
    </p>
    <p>
      If you don’t get a call within [timeframe], call 111.
    </p>
    <p class="nhsuk-u-margin-bottom-8">
      Deaf people can use text relay to contact 18001 111.
    </p>
  </div>
{% endblock %}
