{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block">
  <div class="measure">
    <!-- Only display 'Back' if validation is present? -->
    <a href="javascript:window.history.back();" class="button-back">Back</a>
    <h1>Services that can help</h1>
    <!-- timing info -->
    <div class="measure">
      <div class="callout callout--warning">
        <h3>Coronavirus (COVID-19) advice</h3>
        Do not go to your opticians, phone them instead. All opticians have updated their website, emailed or texted about how they're now offering appointments.
      </div>
    </div>
    <div class="content-seperator content-seperator--equalvertspacing--large"></div>
  </div>
  <div class="multiple-service-listing">

     <!-- A place you go **************************************************** -->
     <!-- “JUST VISIT” ****************************************************** -->

       <div class="service-listing">
         <b>Morse opticians</b>
         <p>Caister-on-sea<br>
         NR30 6AW</p>
         <h3>
           <a>Call 01482 301701</a>
         </h3>
         <p>Open until 5.30pm</p>
       </div>

       <div class="service-listing">
         <b>Asda opticians</b>
         <p>Great yarmouth<br>
         NR15 7TU</p>
         <h3>
           <a>Call 01482 301701</a>
         </h3>
         <p>Open until 6pm</p>
       </div>

       <div class="service-listing">
         <b>Specsavers</b>
         <p>Great Yarmouth<br>
         NR13 4YK</p>
         <h3>
         <a>Call 01482 301701</a>
         </h3>
        <p>Open until 8pm</p>
       </div>

       <div class="service-listing">
         <b>Specsavers</b>
         <p>Gorleston<br>
         NR22 6PI</p>
         <h3>
           <a>Call 01482 301701</a>
         </h3>
         <p>Open until 6pm</p>
       </div>

    </div>


   <div class="unit">
     <br>
     <p>
       These services are available in [postcode]. <a href="javascript: return false;">Change my location</a>
     </p>
     <div class="measure">
     <details>
       <summary>Why are these services recommended?</summary>
       <div>
         <p>
           We show you nearby services that are open now, or will be within the time you've been advised to get help.
         </p>
       </div>
     </details>
   </div>
     </div>
     </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  {% set acuity = "high" %}
  {% include 'service-display/_components/worsening-symptoms.html' %}

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
