{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block">
  <div class="measure">
    <h1>Your confirmation</h1>
    <div class="callout callout--attention">
      <p>
        Get help now.<br>
        Show this to the A&E department when you get there.
      </p>
    </div>

    <div class="service-booking-container">
      <div class="qr-code service-details">
        <img src="/images/qr-code-example.png">
      </div>
      <div class="booking-details">
        <br>
        <p>[NAME] has been triaged by 111 online today and needs to get help urgently. </p>
        <dl class="check-details">
          <div class="-row">
            <dt class="-key">
              Reference number
            </dt>
            <dd class="-value">
              ######
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <div class="service-details-container">

    <div class="details-1 service-details">
      <div class="unit address">
        <p>
          <b>A&E (accident and emergency)</b><br>
          Leeds Teaching Hospitals NHS Trust<br>
          Great George Street<br>
          Leeds<br>
          LS1 3EX
        </p>
      </div>
      <div class="unit">
        {% set opening = "Open 24 hours"%}
        {% set suppress_full = true %}
        {% include 'service-display/_components/opening-hours.html' %}
      </div>
    </div>

    <div class="geo">
      <div id="service-location" class="map-frame"></div>
    </div>

    <div class="details-2 service-details">
      <div class="unit">
        <a href="javascript: return false;" target="_blank">
          Get directions <span class="small">(opens a new tab or window)</span>
        </a>
      </div>
    </div>

  </div>
  <p>
    We’ve sent a confirmation to [text/email]
  </p>
  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <h2>What happens when you get there</h2>
    <p>
      You’ll be asked some questions when you get there and told where to wait.
    </p>
    <p>
      Take a face covering with you, in case you have to wear one.
    </p>
    <div class="callout callout--info">
      <p>
        Sometimes, people arrive at A&E needing urgent help for life threatening
        conditions. This could mean they’re seen first and you have to wait a bit longer.
      </p>
    </div>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  <div class="measure">
    {% set acuity = "high" %}
    {% include 'service-display/_components/worsening-symptoms.html' %}
  </div>

</div>

{% endblock %}

{% block footer %}
{% include 'service-display/_components/micro-survey.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    var serviceLat = 53.801732;
    var serviceLng = -1.551858;
    var userLat = 53.804741;
    var userLng = -1.564623;
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: serviceLat,
          lng: serviceLng
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      var bounds = new google.maps.LatLngBounds();
      var service = new google.maps.Marker({
        position: new google.maps.LatLng(serviceLat, serviceLng),
        map: mapObj
      });
      bounds.extend(service.position);
      var user = new google.maps.Marker({
        position: new google.maps.LatLng(userLat, userLng),
        map: mapObj,
        icon: '/images/icon-maps-user-location.png'
      });
      bounds.extend(user.position);
      mapObj.fitBounds(bounds);
    });
  </script>
{% endblock %}
