{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}Index{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1>111 prototypes</h1>

  <h2>Service down</h2>
  <div class="callout callout--info">
    <ul>
      <li>
        <a href="/service-down">Service down page</a>
      </li>
    </ul>
  </div>

  <h2>Booking into ED</h2>
  <div class="callout  callout--info">
    <ul>
      <li>
        <a href="/111-first/booking-into-ed/interruption1">Scenario 1</a>
      </li>
      <li>
        <a href="/111-first/booking-into-ed/interruption2">Scenario 2</a>
      </li>
      <li>
        <a href="/111-first/booking-into-ed/interruption3">Scenario 3</a>
      </li>
      <li>
        <a href="/111-first/booking-into-ed/interruption4">Scenario 4</a>
      </li>
    </ul>
  </div>

  <h2>Dx94: sexual assault outcomes</h2>
  <div class="callout  callout--info">
    <ul>
      <li>
        <a href="/sexual-assault-dx-outcomes/dx94-sexual-assault">
          Dx94: A&E DoS return
        </a>
      </li>
      <li>
        <a href="/sexual-assault-dx-outcomes/dx94-sexual-assault-sarc">
          Dx94: SARC DoS return
        </a>
      </li>
    </ul>
  </div>

  <h2>Dx0124, Dx49, Dx92: mental health outcomes</h2>
  <div class="callout  callout--info">
    <h3>Dx0124, Dx49</h3>
    <ul>
      <li>
        <a href="/mental-health-dx-outcomes/dx0124-ambulance-cat-3">
          Dx0124: Call 999 for an ambulance
        </a>
      </li>
      <li>
        <a href="/mental-health-dx-outcomes/dx49-police-emergency">
          Dx49: Call 999 for the police
        </a>
      </li>
    </ul>
    <h3>Dx92</h3>
    <ul>
      <li>
        <a href="/mental-health-dx-outcomes/dx92-mental-health-validation">
          Validation example
        </a>
      </li>
      <li>
        <a href="/mental-health-dx-outcomes/dx92-mental-health-service-display-place">
          ED example
        </a>
      </li>
      <li>
        <a href="/mental-health-dx-outcomes/dx92-mental-health-service-display-place-UTC">
          UTC example
        </a>
      </li>
      <li>
        <a href="/mental-health-dx-outcomes/dx92-mental-health-service-display-call">
          "Call" service example
        </a>
      </li>
      <li>
        <a href="/mental-health-dx-outcomes/dx92-mental-health-service-display-itk">
          ITK service example
        </a>
      </li>
      <li>
        <a href="/mental-health-dx-outcomes/dx92-other-services">
          Other services
        </a>
      </li>
      <li>
        <a href="/mental-health-dx-outcomes/dx92-mental-health-service-display-itk-confirmation">
          ITK confirmation
        </a>
      </li>
      </ul>
      <h3>Fail states</h3>
      <ul>
      <li>
        <a href="/mental-health-dx-outcomes/dx92-error-dos-down">
          Error: DoS down
        </a>
      </li>
      <li>
        <a href="/mental-health-dx-outcomes/dx92-error-duplicate-itk">
          Error: duplicate ITK
        </a>
      </li>
      <li>
        <a href="/mental-health-dx-outcomes/dx92-error-itk-failure">
          Error: ITK failure
        </a>
      </li>
      <li>
        <a href="/mental-health-dx-outcomes/dx92-error-service-closed">
          Error: service closes
        </a>
      </li>
    </ul>
  </div>


  <h2>Service display pages - June 2020</h2>
  <div class="callout  callout--info">
    <h3>Recommended service pages</h3>

    <details>
      <summary><span>Primary care dispositions</span></summary>
      <div>
        <ul>
          <li>
            <a href="/primary-care-dispositions/iteration-2/primary-care-dx05-2-hours">
              Higher acuity (Dx05 - 2 hours)
            </a>
          </li>
          <li>
            <a href="/primary-care-dispositions/iteration-2/primary-care-no-dos-results">
              Higher acuity - no DoS results
            </a>
          </li>
          <li>
            <a href="/primary-care-dispositions/iteration-2/primary-care-dx10-whenever">
              Lower acuity (Dx10 - make an appointment when you can)
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="/primary-care-dispositions/iteration-3-trumps/primary-care-dx05-2-hours">
              “Trumped” higher acuity (Dx05 - 2 hours)
            </a>
          </li>
          <li>
            <a href="/primary-care-dispositions/iteration-3-trumps/primary-care-dx10-whenever">
              “Trumped” lower acuity (Dx10 - make an appointment when you can)
            </a>
          </li>
        </ul>
      </div>
    </details>

    <details>
      <summary><span>“Just visit” and “Phone or visit”</span></summary>
      <div>
        <ul>
          <li>
            <a href="/service-display/template-place">
              Template example
            </a>
          </li>
          <li>
            <a href="/service-display/ed-recommended-service">
              Example: emergency department (physical location, no appointment required)
            </a>
          </li>
          <li>
            <a href="/service-display/pharmacy-recommended-service">
              Example: pharmacy (physical location, no appointment required)
            </a>
          </li>
        </ul>
      </div>
    </details>

    <details>
      <summary><span>“Just phone” and “Phone and go”</span></summary>
      <div>
        <ul>
          <li>
            <a href="/service-display/template-phone">
              Template example
            </a>
          </li>
          <li>
            <a href="/service-display/non-physical-recommended-service">
              Example: mental health support line (non-physical, service no appointment required)
            </a>
          </li>
          <li>
            <a href="/service-display/appointment-required-recommended-service">
              Example: appointment required (physical location)
            </a>
          </li>
        </ul>
      </div>
    </details>

    <details>
      <summary><span>“ITK only” and “ITK and ring and go”</span></summary>
      <div>
        <ul>
          <li>
            <a href="/service-display/template-itk">
              Template example
            </a>
          </li>
          <li>
            <a href="/service-display/appointment-required-non-physical-recommended-service">
              Example: GP out of hours (callback service)
            </a>
          </li>
          <li>
            <a href="/emergency-prescription-wizard/service/numsas/numsas-service-view-stage-1">
              Example: Pharmacy referral (NUMSAS) <b>stage 1</b>
            </a>
          </li>
          <li>
            <a href="/emergency-prescription-wizard/service/numsas/numsas-service-view-stage-2">
              Example: Pharmacy referral (NUMSAS) <b>stage 2</b>
            </a>
          </li>
        </ul>
      </div>
    </details>

    <h3>“Other services” page</h3>
    <ul>
      <li>
        <a href="/service-display/other-services">
          Other services that can help
        </a>
      </li>
    </ul>

    <h3>Confirmation pages</h3>
    <ul>
      <li><p><a href="/forced-callback/call-booked">Revalidation call confirmation</a></p></li>
    </ul>

    <h3>Failure and supporting pages</h3>
    <ul>
      <li>
        <a href="/service-display/finding-services">
          Example overlay &mdash; “finding services”
        </a>
      </li>
      <li>
        <a href="/service-display/error-itk-service-closes">
          Error &mdash; ITK service closes during transaction
        </a>
      </li>
      <li>
        <a href="/service-display/error-itk-failure">
          Error &mdash; ITK message failure
        </a>
      </li>
      <li>
        Error &mdash; ITK duplicate submission
        <ul>
          <li>
            <a href="/service-display/error-itk-spam-general">
              General
            </a>
          </li>
          <li>
            <a href="/service-display/error-itk-spam-high-acuity">
              High acuity (for example ED disposition)
            </a>
          </li>
        </ul>
      </li>
      <li>
        Error &mdash; DoS down, or no DoS results
        <ul>
          <li>
            <a href="/service-display/error-dos-down-or-no-results">
              High acuity (for example ED disposition)
            </a>
          </li>
          <li>
            <a href="/emergency-prescription-wizard/error-dos-down-or-no-results-pharmacy">
              Emergency prescription disposition
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <h2 class="h3">How do we ask people their GP?</h2>
  <div class="callout callout--info">
    <ul>
      <li><p><a href="/gp-lookup">GP lookup widget</a></p></li>
    </ul>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <h2 class="h3">Using media to help answer questions</h2>
  <div class="callout callout--info">
    <ul>
      <li><p><a href="/media/burns">Burns</a></p></li>
      <li><p><a href="/media/floaters">Floaters</a></p></li>
      <li><p><a href="/media/meningitis">Meningitis</a></p></li>
      <li><p><a href="/media/wheeze">Wheeze</a></p></li>
    </ul>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <h2 class="h3">Full journeys</h2>

  <div class="callout callout--info">
    <p>
      <a href="/user-journeys/scenario-000-999">Full journey: choose “headache or migraine”</a><br>
      <span class="form-hint">
        (leads to 999 revalidation)
      </span>
    </p>
    <p>
      <a href="/user-journeys/scenario-001-ed">Full journey: choose “breathing problems”</a><br>
      <span class="form-hint">
        (leads to an ED optional revalidation)
      </span>
    </p>
    <p>
      <a href="/user-journeys/scenario-003-primary-care">Full journey: primary care outcome</a><br>
      <span class="form-hint">
        (search for “rash” then choose “rashes, itchy skin, spots or blisters”)
      </span>
    </p>
    <p>
      <a href="/emergency-prescription-wizard/numsas-journey">NUMSAS emergency prescription journey</a><br>
      <span class="form-hint">
        (search for “meds” then choose “emergency prescription”)
      </span>
    </p>
    <p>
      <a href="/emergency-prescription-wizard/goto-journey">NUMSAS go to a pharmacy journey</a><br>
      <a href="/emergency-prescription-wizard/cas-journey">NUMSAS pharmacy CAS journey</a>
    </p>
  </div>


  <!-- xxxxxxxx -->
  <!-- archived -->
  <!-- xxxxxxxx -->

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="collapse-title">
    <h3 class="category-level-1">More...</h3>
  </div>

  <div class="collapse-content">

    <h2>Pharmacy CAS (short term) - change 297</h2>
    <div class="callout  callout--info">
      <p><a href="/primary-care-dispositions/change-297/primary-care-dx10-whenever">Example GP disposition page</a></p>
      <p><a href="/primary-care-dispositions/change-297/callback-confirmed">Example CAS confirmation page</a></p>
    </div>

    <h2>Pathways release 19 - change 314</h2>
    <h3>COVID related - finding the right pathway</h3>
    <div class="callout callout--info">
      <ul>
        <li>
          <a href="/pathways-r19/start">Journey mock up</a>
        </li>
      </ul>
      <p>Example disposition views:</p>
      <ul>
        <li>
          <a href="/service-display/ed-recommended-service">Emergency department</a>
        </li>
        <li>
          <a href="/primary-care-dispositions/change-297/primary-care-dx10-whenever">Primary care</a>
        </li>
      </ul>
      <p>New dispostions:</p>
      <ul>
        <li>
          <a href="/pathways-r19/dx1117-book-a-callback">“Check in” callback</a>
        </li>
        <li>
          <a href="/pathways-r19/callback-confirmed">“Check in” confirmation</a>
        </li>
      </ul>
    </div>

    <h2>GPOC prototypes</h2>
    <div class="callout  callout--info">
      <p><a href="/index-gpoc">GPOC prototypes</a></p>
    </div>

    <h2>Other languages handling - change 295</h2>
    <div class="callout  callout--info">
      <p><a href="/language/details-page">Information page</a></p>
    </div>

    <h2 class="h3">Service start phase</h2>

    <p>Module zero, demographics and location</p>

    <div class="callout callout--info">
      <ul>
        <li><p><a href="/start">Start page</a></p></li>
        <li><p><a href="/start/proxy">Proxy check</a></p></li>
        <li><p><a href="/start/emergency-check">Module zero</a></p></li>
        <li><p><a href="/start/date-of-birth">Demographics</a></p></li>
        <li><p><a href="/start/where-are-you">Location</a></p></li>
      </ul>
    </div>

    <div class="content-seperator content-seperator--equalvertspacing--large"></div>

    <h2 class="h3">Finding the right pathway</h2>
    <p>How people select the right pathway (or not) for their symptom.</p>

    <div class="callout callout--info">
      <ul>
        <li><p><a href="/finding-pathways/start">Start page</a></p></li>
        <li><p><a href="/finding-pathways/no-results">No results</a></p></li>
        <li><p><a href="/finding-pathways/no-results-condition">No results - conditions</a></p></li>
        <li><p><a href="/finding-pathways/no-results-medicine">No results - medicines</a></p></li>
        <li><p><a href="/finding-pathways/no-results-prescription">No results - prescriptions</a></p></li>
        <li><p><a href="/finding-pathways/no-results-location">No results - opening times</a></p></li>
        <li><p><a href="/finding-pathways/browse">Themed browse</a></p></li>
        <li><p><a href="/finding-pathways/browse-a-z">The whole list</a></p></li>
      </ul>
    </div>

    <div class="collapse-title shunt-2">
      <div class="category-level-1">Previous versions</div>
    </div>
    <div class="collapse-content category-content">
      <p>
        <a href="https://git.nhschoices.net/nhs111-digital/nhs111-prototype-kit/tags/v1.1">Version 0</a><br>
        Popup research at Ideas Store Whitechapel 12-06-2018
      </p>
    </div>

    <div class="content-seperator content-seperator--equalvertspacing--large"></div>

    <h2 class="h3">999 dispositions</h2>

    <div class="callout callout--info">
      <ul>
        <li><p><a href="/disposition/emergency-999-high-red">Call 999 (cat 2 ambulance)</a></p></li>
        <li><p><a href="/disposition/emergency-999-high-green">Call 999 (cat 3 ambulance)</a></p></li>
        <li><p><a href="/disposition/emergency-999-standard-green">Call 999 (cat 4 ambulance)</a></p></li>
      </ul>
    </div>

    <div class="content-seperator content-seperator--equalvertspacing--large"></div>

    <h2 class="h3">“Weird questions” message</h2>
    <p>Help people understand why they might be asked seemingly irrelevent questions</p>
    <div class="callout callout--info">
      <ul>
        <li><p><a href="/weird-questions/">Weird questions</a></p></li>
      </ul>
    </div>

    <div class="content-seperator content-seperator--equalvertspacing--large"></div>

    <h2 class="h3">Revalidation</h2>

    <p>Offering the user a phone call from a nurse in order to revalidate dispostions.</p>

    <div class="callout callout--info">
      <ul>
        <li>
          <p>
            <a href="/callback-offered/linear">Revalidation as an offer</a><br><!-- care advice would be in this one -->
            <span class="form-hint">For example some emergency care dispositions</span>
          </p>
        </li>
        <li>
          <p>
            <a href="/forced-callback/disposition-callback-first-001">Mandated revalidation</a><br>
            <span class="form-hint">For example green ambulance dipositions</span>
          </p>
        </li>
      </ul>
    </div>

    <div class="collapse-title shunt-2">
      <div class="category-level-1">Previous versions</div>
    </div>
    <div class="collapse-content category-content">
      <p>
        <a href="https://git.nhschoices.net/nhs111-digital/nhs111-prototype-kit/tags/v1.4">Version 1</a><br>
        Lab research at Engine Rooms labs 18-07-2018
      </p>
      <p>
        <a href="https://git.nhschoices.net/nhs111-digital/nhs111-prototype-kit/tags/v1.3">Version 0</a><br>
        Lab research at Sunderland Labs 20-06-2018
      </p>
    </div>

    <h2 class="h3">“Cannot complete online” message</h2>
    <p>How to encourage people to call 111 when online triage cannot continue</p>
    <div class="callout callout--info">
      <ul>
        <li><p><a href="/cannot-complete/">Cannot complete page</a></p></li>
      </ul>
    </div>

    <div class="content-seperator content-seperator--equalvertspacing--large"></div>

    <h2 class="h3">Gateway page content</h2>
    <p>Changes to the way we present the service.</p>
    <div class="callout callout--info">
      <ul>
        <li>
          <p>
            <a href="https://git.nhschoices.net/nhs111-digital/nhs111-prototype-kit/tags/v1.4.1">
              Prototype removed. See v1.4.1
            </a>
          </p>
        </li>
      </ul>
    </div>

    <div class="content-seperator content-seperator--equalvertspacing--large"></div>

    <h2 class="h3">Home Address Collection</h2>
    <p>On personal details page make sure we collect both current location and home address (for PDS).</p>
    <div class="callout callout--info">
      <ul>
        <li><p><a href="/address-collection/radio-buttons">Radio button choice [mock up]</a></p></li>
        <li><p><a href="/address-collection/radio-buttons-2">Radio button choice 2 [mock up]</a></p></li>
        <li><p><a href="/address-collection/home-address">Home address [mock up]</a></p></li>
        <li><p><a href="/address-collection/compact">Compact address component idea [mock up]</a></p></li>
        <li><p><a href="/address-collection/home-address-collection">Home address collection</a></p></li>
      </ul>
    </div>

    <div class="content-seperator content-seperator--equalvertspacing--large"></div>

    <h2 class="h3">Flow interruption</h2>
    <p>With problematic emergency dispositions, test if an extra interaction encourages a pause to re-read the question.</p>
    <div class="callout callout--info">
      <ul>
        <li><p><a href="/emergency-feedback/soft-interrupt">Soft interruption</a></p></li>
        <li><p><a href="/emergency-feedback/hard-interrupt--question-1">Hard interruption</a></p></li>
        <li><p><a href="/emergency-feedback/journey/question-1">Fixed journey to an interruption</a></p></li>
      </ul>
    </div>


    <div class="content-seperator content-seperator--equalvertspacing--large"></div>

    <h2 class="h3">Triage end phases</h2>
    <p>Partial journeys (legacy / on hold / depracated)</p>
    <div class="callout callout--info">
      <ul>
        <li>
          <p>
            <strike>
              <a href="/user-journeys/scenario-002-sexual-assault">Partial journey: sexual assault</a><br>
              <span class="form-hint">
                (specific to dx94)
              </span>
            </strike>
          </p>
        </li>
        <li>
          <p>
            <strike>
              <a href="/disposition/mental-health-offer-callback">Partial journey: mental health</a><br>
              <span class="form-hint">
                (specific to dx92)
              </span>
            </strike>
          </p>
        </li>
      </ul>
    </div>
  </div>

  <!-- xxxxxxxx -->
  <!-- archived pre 2018 -->
  <!-- xxxxxxxx -->

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="collapse-title">
    <h3 class="category-level-1">Archived (pre 2018)</h3>
  </div>
  <div class="collapse-content">

    <h2>Dental dispositions</h2>
    <p>12/6/2017</p>
    <ul>
      <li><p><a href="/disposition/dentist-dx17">Dentist - urgently (1hr) DX17</a></p></li>
      <li><p><a href="/disposition/dentist-urgently">Dentist - urgently</a></p></li>
      <li><p><a href="/disposition/dentist-today">Dentist - today (6 hours) </a></p></li>
      <li><p><a href="/disposition/dentist_dx20">Dentist - today (12 hours) DX20</a></p></li>
      <li><p><a href="/disposition/dentist-today-tomorrow">Dentist - today or tomorrow (24 hours) XD21</a></p></li>
      <li><p><a href="/disposition/dentist-next-few-days">Dentist - next few days (5 days) DX22</a></p></li>
    </ul>

    <div class="content-seperator content-seperator_equalvertspacing"></div>

    <h2>Clinical callback disposition</h2>
    <p>26/6/2017</p>
    <h3>Journey: Post-code to callback confirmation</h3>
    <p>Containing single page details form</p>
    <ul>
      <li><p><a href="/clinical-callback/clinical-callback">Start</a></p></li>
      <li><p><a href="/clinical-callback/mp-clinical-callback">Start (multi-part)</a></p></li>
    </ul>

    <div class="content-seperator content-seperator_equalvertspacing"></div>

    <h2>Service cards</h2>
    <p>21/9/2017</p>
    <p>Imprioving how we display services and list services so users can get to the right care, more easily and with less confusion</p>
    <ul>
      <li><p><a href="/service-list/service-list">Service-list</a></p></li>
  <!--     <li><p><a href="/service-list/postcode-second">postcode-second</a></p></li> -->
    </ul>

    <div class="content-seperator content-seperator_equalvertspacing"></div>
    <h2>Asking users for their location</h2>
    <p>09/10/2017</p>
    <p>Asking users to give their information so we can connect them to the right service in their area</p>
    <ul>
      <li><p><a href="/location/postcode">Auto-locate prototype</a></p></li>
      <li><p><a href="/location/index">Federated prototype (with autolocate)</a></p></li>
    </ul>

    <div class="content-seperator content-seperator_equalvertspacing"></div>

    <h2>Dispositions</h2>
    <p>30/10/2017</p>
    <p>Mockups to show the impact of reintroducing the link to GP and Dental information currently available on NHS Choices.</p>
    <ul>
      <li><p><a href="/disposition/dentist-dx17">Dentist disposition [mock up]</a></p></li>
      <li><p><a href="/disposition/gp-dx">GP Disposition [mock up]</a></p></li>
    </ul>

    <div class="content-seperator content-seperator_equalvertspacing"></div>

    <h2>Disclaimer</h2>
    <p>21/11/2017</p>
    <p>Adding a disclaimer(s) (business needs). How do we display 'beta service' informationw within the service.</p>
    <ul>
      <li><p><a href="/location/index">Federated prototype (with autolocate)</a></p></li>
    </ul>

  </div>

</div>

{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}
{% endblock %}
